


<%= link_to("Add", new_student_path(@group), remote: true,  class: "btn btn-primary") %>
<div class="table-responsive">
<table class="table table-striped">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Delete</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="student-index" >
      <%= render 'index' %>
      </tbody>
</table>

</div>
<div id="student-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-student-modal" class="modal-content"></div>
  </div>
</div>


